
<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
						<div class="pl-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
        </nav>
        </div>
        <div class="ml-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Settings</button>
                <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
								</button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left"> <a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated link</a>
                </div>
            </div>
        </div>
        </div>
        <!--end breadcrumb-->
        <div class="user-profile-page">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 border-right">
                            <div class="d-md-flex align-items-center">
                                <div class="mb-md-3 mb-5">
                                    <img src="https://via.placeholder.com/110x110" class="rounded-circle shadow" width="130" height="130" alt="" />
                                </div>
                                <div class="ml-md-4 flex-grow-1">
                                    <div class="d-flex align-items-center mb-2">
                                        <h4 class="col-10">Chinh Kieu Bui</h4></div>

<p>

</p>

<thead>
        <tr>
                                    <th class="col-7"><i class='bx bx-buildings'></i>Ideas:</th>
                                    <td></td>

                                    <th class="col-12"><i class='bx bx-buildings'></i>Votes: </th>
                                    <td></td></tr>
</thead>
                                </div>
                            </div>
                        </div>
                      	<div class="col-12 col-lg-5">
										<table class="table table-sm table-borderless mt-md-0 mt-3">
											<tbody>
                   <!-- <tr *ngFor="let for user of users></tr> -->
                   <!-- <tr>
                        <th>First name:
                                <td>{{user.firstname}}</td>
                        </th>
                   </tr>
                   <tr>
                        <th>Lastname:
                                <td>{{user.lastname}}</td>
                        </th>
                   </tr>
                   <tr>
                        <th>Fullname:
                                <td>{{user.fullname}}</td></th>
                   </tr>
                   <tr>
                        <th>Email:
                                <td>{{user.email}}</td>
                        </th>
                   </tr>
                   <tr>
                        <th>Departments:
                                <td>
                                        {{user.departments}}
                                </td>
                        </th>
                   </tr>
                   <tr>
                        <th>Role:
                                <tr>{{user.role}}</tr>
                        </th>
                   </tr> -->
                        <tr>
													<th>Fullname:</th>
													<td>Bui Thi Kieu Chinh</td>
												</tr>
												<tr>
													<th>Email:</th>
													<td>chinhbtkgch18342@fpt.edu.vn <span class="badge badge-success">available</span>
													</td>
												</tr>

												<tr>
													<th>Departments:</th>
													<td>IT</td>
												</tr>
												<tr>
													<th>Role: </th>
													<td>Staff</td>
												</tr>
											</tbody>
										</table>
										<div class="mb-3 mb-lg-0"> <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-github'></i></a>
											<a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-twitter'></i></a>
											<a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-facebook'></i></a>
											<a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-linkedin'></i></a>
											<a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-dribbble'></i></a>
											<a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-stack-overflow'></i></a>
										</div>
									</div>
								</div>
                    <!--end row-->
                   	<ul class="nav nav-pills">
									<li class="nav-item"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Biography"><span class="p-tab-name">Biography</span><i class='bx bxs-user-rectangle font-24 d-sm-none'></i></a>
									</li>
								</ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="Biography">
                            <div class="card shadow-none border mb-0 radius-15">
                                <div class="card-body">


                                        <p class="mb-0 ml-sm-3 text-muted" style="float: right;">2 Posts</p>

                                    <div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
                                        <div class="media-body ml-3">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4">
                                                    <p class="mb-0" style="font-size: 14px;">Chinh Kieu Bui</p>
                                           <!-- <p class="mb-o" style="font-size: 14px;">{{user.fullname}}</p> -->

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea type="text" class="form-control" placeholder="New Post..." rows="3" cols="3" style="width: 80%;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
                                        <div class="media-body ml-3">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4">
                                                    <p class="mb-0" style="font-size: 14px;">Chinh Kieu Bui</p>
                                                 <p class="mb-o" style="font-size: 14px;">{{user.fullname}}</p> -->
                                                    <!-- <p class="mb-0"></p>
                                                </div>
                                                <h6 class="mb-0">{{ideas.title}}</h6>
                                                <p>
                                                    {{ideas.description}}
                                                </p>
                                                 <a class="interact-idea"><button type="button" class="btn btn-outline-secondary m-1"><i class='bx bx-comment-detail'></i>{{ideas.comments}} </button>
							<button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-like'></i>{{ideas.comments}}
							</button><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-dislike'></i> {{ideas.dislike}}</button>
        </a>



                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
</div></div> -->            <div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
                                        <div class="media-body ml-3">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4">
                                                    <p class="mb-0" style="font-size: 14px;">Chinh Kieu Bui</p>
                                                    <!-- <p class="mb-o" style="font-size: 14px;">{{user.fullname}}</p> -->
                                                    <p class="mb-0"></p>
                                                </div>
                                                <h6 class="mb-0">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platfor</h6>
                                                <p>
                                                    Even as a lowly non-celeb, I can relate to the feeling of Instagram robbing you of your peace. (When I spend too much time on the platform, I swear I can feel my stored-up serotonin leaking out of my ears.) And while a significant part of my job relies
                                                    on the concept of famous people oversharing on social media, I still hope Gomez has a restful and productive time away—just as long as she knows that when she’s reaady to return, she’ll once again be
                                                    the reigning queen of Instagram.
                                                </p>
                                                 <a class="interact-idea"><button type="button" class="btn btn-outline-secondary m-1"><i class='bx bx-comment-detail'></i> </button>
							<button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-like'></i>
							</button><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-dislike'></i> </button>
        </a>



                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
</div></div>
</div>

																	</div>
																</div>
															</div>
														</div>
													</div>


			<!--end page-content-wrapper-->


		<!--end page-wrapper-->
		<!--start overlay-->


<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
        <hr />
        <h6 class="mb-0">Theme Styles</h6>
        <hr />
        <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-radio">
                <input type="radio" id="darkmode" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="darkmode">Dark Mode</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="lightmode" name="customRadio" checked class="custom-control-input">
                <label class="custom-control-label" for="lightmode">Light Mode</label>
            </div>
        </div>
        <hr />
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="DarkSidebar">
            <label class="custom-control-label" for="DarkSidebar">Dark Sidebar</label>
        </div>
        <hr />
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="ColorLessIcons">
            <label class="custom-control-label" for="ColorLessIcons">Color Less Icons</label>
        </div>
    </div>


</div>

<script>
    import PerfectScrollbar from 'perfect-scrollbar';
    const socialListScrollbar = new PerfectScrollbar('.dashboard-social-list');
    const topCountriesScrollbar = new PerfectScrollbar('.dashboard-top-countries');
</script>
