		<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
						<div class="breadcrumb-title pr-3">User Profile</div>
						<div class="pl-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">User Profile</li>
								</ol>
							</nav>
						</div>
						<div class="ml-auto">
							<div class="btn-group">
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
									<a class="dropdown-item" href="javascript:;">Another action</a>
									<a class="dropdown-item" href="javascript:;">Something else here</a>
									<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
								</div>
							</div>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="user-profile-page">
						<div class="card radius-15">
							<div class="card-body">
								<div class="row">
									<div class="col-12 col-lg-7 border-right">
										<div class="d-md-flex align-items-center">
											<div class="mb-md-0 mb-3">
												<img src="https://via.placeholder.com/110x110" class="rounded-circle shadow" width="130" height="130" alt="" />
											</div>
											<div class="ml-md-4 flex-grow-1">
												<div class="d-flex align-items-center mb-1">
                                                                                                </div>
												<p class="mb-0 text-muted">Staff</p>
												<p class="text-primary"></p>

											</div>
										</div>
									</div>
									<div class="col-12 col-lg-5">
										<table class="table table-sm table-borderless mt-md-0 mt-3">
											<tbody>
												<tr>
													<th>First Name:</th>
													<td> Bui
												</tr>
                                                                                                												<tr>
													<th>Last Name:</th>
													<td>Kieu Chinh</td>
												</tr>
												<tr>
													<th>Position:</th>
													<td>Staff</td>
												</tr>

											</tbody>
										</table>

									</div>
								</div>
							
								<div class="tab-content mt-3">
									<div class="tab-pane fade show active" id="Experience">
										<div class="card shadow-none border mb-0 radius-15">
											<div class="card-body">
												<div class="d-sm-flex align-items-center mb-3">
													<h4 class="mb-0">Post</h4>
													<p class="mb-0 ml-sm-3 text-muted">2 Posts.</p> <a href="javascript:;" class="btn btn-primary ml-auto radius-10"></a>
												</div>
											                             <h5 class="mb-0">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platform</h5>

																<p class="mb-0">Is there anything more hardcore than dethroning Kylie Jenner to become the most-followed woman on Instagram, only to go on TikTok and announce an upcoming social media break shortly after? No, there is not, as Selena Gomez proved on Thursday when she explained to her fans that she’d be taking some time off Instagram, as she has done previously, leaving Jenner to capture the “most-followed” title.p</p>


														<hr/>

												</div>
												<div class="media">
													<div class="media-body ml-3">
														<div class="row align-items-center">
															<div class="col-lg-12">
																<h5 class="mb-0">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platform</h5>
																<p class="mb-0">Is there anything more hardcore than dethroning Kylie Jenner to become the most-followed woman on Instagram, only to go on TikTok and announce an upcoming social media break shortly after? No, there is not, as Selena Gomez proved on Thursday when she explained to her fans that she’d be taking some time off Instagram, as she has done previously, leaving Jenner to capture the “most-followed” title.p</p>
															</div>

