		<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
						<div class="breadcrumb-title pr-3">User Profile</div>
						<div class="pl-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">User Profile</li>
								</ol>
							</nav>
						</div>
						<div class="ml-auto">
							<div class="btn-group">
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
									<a class="dropdown-item" href="javascript:;">Another action</a>
									<a class="dropdown-item" href="javascript:;">Something else here</a>
									<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
								</div>
							</div>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="user-profile-page">
						<div class="card radius-15">
							<div class="card-body">
								<div class="row">
									<div class="col-12 col-lg-7 border-right">
										<div class="d-md-flex align-items-center">
											<div class="mb-md-0 mb-3">
												<img src="https://via.placeholder.com/110x110" class="rounded-circle shadow" width="130" height="130" alt="" />
											</div>
											<div class="ml-md-4 flex-grow-1">
												<div class="d-flex align-items-center mb-1">
                                                                                                </div>
												<table class="table table-sm table-borderless mt-md-0 mt-3">
											<tbody>
                                                                                                <tr>
													<th>First Name:</th>
													<td> Bui
												</tr>
                                                                                                <tr>
													<th>Last Name:</th>
													<td> Thi Kieu Chinh
												</tr>
												<tr>
													<th>Full Name:</th>
													<td> Bui Thi Kieu Chinh
												</tr>
                                                                                                												<tr>
													<th>Email:</th>
													<td>kieuchinh@gmail.com </td>
												</tr>
												<tr>
													<th>Role:</th>
													<td>Staff</td>
												</tr>

											</tbody>
										</table>

											</div>
										</div>
									</div>
                <div class="tab-content mt-3">
									<div class="tab-pane fade show active" id="Experience">
										<div class="card shadow-none border mb-0 radius-15">
											<div class="card-body">
												<div class="d-sm-flex align-items-center mb-3">

													<p class="mb-0 ml-sm-3 text-muted">2 Posts.</p>
												</div>
                <div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
													<div class="media-body ml-3">
														<div class="row align-items-center">
															<div class="col-lg-4">
																<h6 class="mb-0">Chinh Kieu Bui</h6>
															</div>
														</div>
                      <div class="form-group">
										<textarea type="text" class="form-control" placeholder="New Post..." rows="3" cols="3" style="width: 80%;"></textarea>
									</div>
											</div>
										</div>
												<div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
													<div class="media-body ml-3">
														<div class="row align-items-center">
															<div class="col-lg-4">
																<h6 class="mb-0">Chinh Kieu Bui</h6>
																<p class="mb-0"></p>
															</div>
                           <h5 class="mb-0">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platfor</h5>
 <p>
         Even as a lowly non-celeb, I can relate to the feeling of Instagram robbing you of your peace. (When I spend too much time on the platform, I swear I can feel my stored-up serotonin leaking out of my ears.) And while a significant part of my job relies on the concept of famous people oversharing on social media, I still hope Gomez has a restful and productive time away—just as long as she knows that when she’s reaady to return, she’ll once again be the reigning queen of Instagram.
              </p>


														<hr/>
															</div></div>
                                                                                                                        </div>
                                                                                                                        		<div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
													<div class="media-body ml-3">
														<div class="row align-items-center">
															<div class="col-lg-4">
																<h6 class="mb-0">Chinh Kieu Bui</h6>
																<p class="mb-0"></p>
															</div>
                           <h5 class="mb-0">Designer Christian Siriano Has "A Few Dresses Ruined" in Burst Pipe Incident Days Before Oscars</h5>
<p class="mb-0">IThere's no time for a breaky-break for Christian Siriano.
The fashion designer revealed that just days before the 2023 Oscars a pipe burst in his studio, where he housed many dresses for the night's big event.
"Well it's 6 days before the Oscar's and a pipe burst in our studio yay happy Monday to us! Ughghghg," the 37-year-old wrote on Instagram March 6 alongside a video showing the damaged office. "THE WORST EVER!"
But it seems we'll still see his gowns on the red carpet at the March 12 ceremony, as he added, "Only a few dresses ruined."
Which is reassuring considering last year Christian was responsible for multiple looks that made the best dress list. When Rosie Perez made her return to the Academy Awards for the first time in two decades, Christian styled the actress in a red hot, floor-length silk and chiffon draped gown.</p>


														<hr/>
															</div>

