
<div class="row m-auto">
    <hr color="black" size="10px" />
    <div class="col-1">
        <p type="button" class=" btn text-info font-14 "><i (click)="like()"
                [ngClass]="{ 'liked': isLiked }" class="fadeIn animated bx bx-like"></i> Like</p>
    </div>
    <div class="col-1">
        <p type="button" class=" btn text-info font-14 "><i (click)="like()"
                [ngClass]="{ 'liked': isLiked }" class="fadeIn animated bx bxs-like"></i> Liked
        </p>
    </div>
    <div class="col-1">
        <p type="button" class=" btn text-info font-14 "><i (click)="dislike()"
                [ngClass]="{ 'disliked': isDisliked }" class="fadeIn animated bx bx-dislike"></i> Dislike
        </p>
    </div>
    <div class="col-1">
        <p type="button" class=" btn text-info font-14 "><i (click)="dislike()"
            [ngClass]="{ 'disliked': isDisliked }"class="fadeIn animated bx bxs-dislike"></i> Disliked
        </p>
    </div>
    <hr color="black" size="10px" />
</div>
