<hr color="black" size="10px" />
<div class="row mb-auto m-auto">
    <div class="col-1">
        <button type="button" class=" btn text-info font-14 "><i (click)="like()"
                [ngClass]="{ 'liked': isLiked }" class="fadeIn animated bx bx-like"></i> Like</button>
    </div>
    <div class="col-1">
        <button type="button" class=" btn text-info font-14 "><i (click)="like()"
                [ngClass]="{ 'liked': isLiked }" class="fadeIn animated bx bxs-like"></i> Liked
        </button>
    </div>
    <div class="col-1">
        <button type="button" class=" btn text-info font-14 "><i (click)="dislike()"
                [ngClass]="{ 'disliked': isDisliked }" class="fadeIn animated bx bx-dislike"></i> Dislike
        </button>
    </div>
    <div class="col-1">
        <button type="button" class=" btn text-info font-14 "><i (click)="dislike()"
            [ngClass]="{ 'disliked': isDisliked }"class="fadeIn animated bx bxs-dislike"></i> Disliked
        </button>
    </div>
</div>
<hr color="black" size="10px" />