<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">Admin</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Homepage</li>
                </ol>
            </nav>
        </div>


    </div>
    <!--end breadcrumb-->

    <div class="card-deck">
        <div class="card radius-15">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h5 class="mb-0">Welcome to Admin</h5>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-9">

                        <p class="font-20">Have a good day! </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <h5 class="mb-0 text-center">Total Data</h5>
                <div class="row">
                    <div class="form-group align-items-center text-center col-md-3">
                        <i class="bx bx-user-circle font-30 text-danger"></i>
                        <p class="user-name mb-0">Account</p>
                        <p class="mb-0 font-20">6</p>
                    </div>
                    <div class="form-group align-items-center text-center col-md-3">
                        <i class="bx bx-calendar font-30 text-danger"></i>
                        <p class="user-name mb-0">Event</p>
                        <p class="mb-0 font-20">6</p>
                    </div>
                    <div class="form-group align-items-center text-center col-md-3">
                        <i class="bx bx-package font-30 text-danger"></i>
                        <p class="user-name mb-0">Category</p>
                        <p class="mb-0 font-20">6</p>
                    </div>
                    <div class="form-group align-items-center text-center col-md-3">
                        <i class="bx bx-bulb font-30 text-danger"></i>
                        <p class="user-name mb-0">Idea</p>
                        <p class="mb-0 font-20">6</p>
                    </div>
                </div>



            </div>

        </div>
    </div>
    <br>

    <app-top-popular-ideas></app-top-popular-ideas>
</div>