 <div class="page-content"><div class="row">
						 <div class="col py-2">
          <div class="card radius-15">
            <div class="card-body">
              <div class="float-right text-muted">
                Wed, Jan 11th 2019 8:30 AM
								<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">	<a class="dropdown-item" href="#">Change Privacy</a>
									<a class="dropdown-item" href="#">Detele</a>
</div>
              </div>
              <h6 class="card-title">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platform</h6>
              <p>
                Is there anything more hardcore than dethroning Kylie Jenner to become the most-followed woman on Instagram, only to go on TikTok and announce an upcoming social media break shortly after? No, there is not, as Selena Gomez proved on Thursday when she explained to her fans that she’d be taking some time off Instagram, as she has done previously, leaving Jenner to capture the “most-followed” title.
              </p>
              <a class="interact-idea"><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-comment-detail'></i>90 </button>
							<button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-like'></i>25
							</button><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-dislike'></i> 5</button>
        </a>
        </div></div></div>
              </div>  <div class="row">
						 <div class="col py-2">
          <div class="card radius-15">
            <div class="card-body">
              <div class="float-right text-muted">
                Wed, Jan 11th 2019 8:30 AM
								<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">	<a class="dropdown-item" href="#">Change Privacy</a>
									<a class="dropdown-item" href="#">Detele</a>
</div>
              </div>
                      <h6 class="card-title">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platform</h6>
              <p>
                One hates to pit powerful women against each other, but there’s something kind of legendary about Gomez leaving Instagram and letting Jenner win in her absence, only to return, gain all those crucial followers back, and...disappear again. It’s giving Jesus being crucified and then being resurrected three days later, giving us the holiday we now know as Easter! (Sorry, is that sacrilege?) Gomez has been transparent about the toll that social media has taken on her in the past, telling Vanity Fair in February: “People can call me ugly or stupid and I’m like, Whatever. But these people get detailed,” she told the publication. “They write paragraphs that are so specific and mean. I would constantly be crying. I constantly had anxiety. I couldn’t do it anymore. It was a waste of my time.”
              </p>
              <a class="interact-idea"><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-comment-detail'></i>90 </button>
							<button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-like'></i>25
							</button><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-dislike'></i> 5</button>
        </a>
        </div></div></div>
              </div>
        <div class="row">
						 <div class="col py-2">
          <div class="card radius-15">
            <div class="card-body">
              <div class="float-right text-muted">
                Wed, Jan 11th 2019 8:30 AM
								<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">	<a class="dropdown-item" href="#">Change Privacy</a>
									<a class="dropdown-item" href="#">Detele</a>
</div>
              </div>
                      <h6 class="card-title">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platform</h6>
              <p>
         Even as a lowly non-celeb, I can relate to the feeling of Instagram robbing you of your peace. (When I spend too much time on the platform, I swear I can feel my stored-up serotonin leaking out of my ears.) And while a significant part of my job relies on the concept of famous people oversharing on social media, I still hope Gomez has a restful and productive time away—just as long as she knows that when she’s ready to return, she’ll once again be the reigning queen of Instagram.
              </p>
              <a class="interact-idea"><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-comment-detail'></i>90 </button>
							<button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-like'></i>25
							</button><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-dislike'></i> 5</button>
        </a>
        </div></div></div>
              </div>
        </div>
