
			<!--page-content-wrapper-->


					<!--start email wrapper-->
					<div class="page-wrapper">
						<div class="page-sidebar">

					<!--start email wrapper-->
					<div class="email-wrapper">
							<div class="email-sidebar-header"> <a href="javascript:;" class="btn btn-primary btn-block compose-mail-btn"><i class='bx bx-plus mr-3'></i> Compose</a>
							</div>
							<div class="email-sidebar-content">
								<div class="email-navigation">
									<div class="email-list-group "> <a href="emailbox.html" class="list-group-item "><i class='bx bxs-inbox mr-3 font-20'></i><span>Inbox</span><span class="badge badge-primary badge-pill ml-auto">7,513</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-star mr-3 font-20'></i><span>Starred</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-send mr-3 font-20'></i><span>Sent</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-file-blank mr-3 font-20'></i><span>Drafts</span><span class="badge badge-primary badge-pill ml-auto">4</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-bookmark mr-3 font-20'></i><span>Important</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-message-rounded-error mr-3 font-20'></i><span>Chats</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-envelope-open mr-3 font-20'></i><span>All Mail</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-info-circle mr-3 font-20'></i><span>Spam</span></a>
										<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-trash-alt mr-3 font-20'></i><span>Trash</span></a>
                <a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-trash-alt mr-3 font-20'></i><span>Unread</span></a>
                <a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-trash-alt mr-3 font-20'></i><span>Spam</span></a>
                <a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-trash-alt mr-3 font-20'></i><span>Out Box</span></a>
                <a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-trash-alt mr-3 font-20'></i><span>Update</span></a>
                <a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-trash-alt mr-3 font-20'></i><span>Alert</span></a>
                <a href="javascript:;" class="list-group-item d-flex align-items-center"><i class="lni lni-empty-file"></i><span>Notes</span></a>
									</div>
								</div></div>
								<div class="email-meeting">
									<div class="list-group">
										<div class="list-group-item email-hangout cursor-pointer border-top">
											<div class="media align-items-center">
												<div class="chat-user-online">
													<img src="https://via.placeholder.com/110x110" width="42" height="42" class="rounded-circle" alt="" />
												</div>
												<div class="media-body ml-2">
													<p class="mb-0">Chinh Kieu Bui </p>
												</div>
												<div class="dropdown">
													<div class="font-24 dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown"><i class='bx bx-plus'></i>
													</div>
													<div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;">Settings</a>
														<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Help & Feedback</a>
														<a class="dropdown-item" href="javascript:;">Enable Split View Mode</a>
														<a class="dropdown-item" href="javascript:;">Keyboard Shortcuts</a>
														<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Sign Out</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="email-header d-xl-flex align-items-center">
							<div class="d-flex align-items-center">
								<div class="page-toggle-btn"><i class='bx bx-menu'></i>
								</div>
								<div class="btn btn-white">
									<input type="checkbox">
								</div>
								<div class="">
									<button type="button" class="btn btn-white ml-2"><i class='bx bx-refresh'></i>
									</button>
								</div>
								<div class="">
									<button type="button" class="btn btn-white ml-2"><i class='bx bx-downvote'></i>
									</button>
								</div>
								<div class="d-none d-md-flex">
									<button type="button" class="btn btn-white ml-2"><i class='bx bx-file'></i>
									</button>
								</div>
								<div class="">
									<button type="button" class="btn btn-white ml-2"><i class='bx bx-trash'></i>
									</button>
								</div>
							</div>
							<div class="flex-grow-1 mx-xl-2 my-2 my-xl-0">
								<div class="input-group">
									<div class="input-group-prepend">	<span class="input-group-text bg-transparent"><i class="bx bx-search"></i></span>
									</div>
									<input type="text" class="form-control" placeholder="Search mail">
								</div>
							</div>
							<div class="ml-auto d-flex align-items-center">
								<button class="btn btn-sm btn-light">1-50 of 8,740</button>
								<button class="btn btn-white px-2 ml-2"><i class='bx bx-chevron-left'></i>
								</button>
								<button class="btn btn-white px-2 ml-2"><i class='bx bx-chevron-right'></i>
								</button>
							</div>
						</div>
						<div class="email-content">
							<div class="">
								<div class="email-list">
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>CNP</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">That a reader will be distracted by the readable...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">5:56 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>BBC</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">Lorem Ipsum is that it has a more-or-less normal...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">5:45 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1 bg-body">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Facebook</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">There are many variations of passages of Lorem Ipsum available, majority suffered...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">4:32 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>NBC</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">4:25 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Alisha Mastana</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">4:18 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Synergy Technology</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">If you are going to use a passage of Lorem Ipsum, you need to be sure there...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">3:56 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Robina Consultant</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">3:43 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1 bg-body">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>HCl Technologies</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">Bonorum et Malorum" by Cicero are also reproduced in their exact original form...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">2:25 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1 bg-body">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Tata India</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">But I must explain to you how all this mistaken idea of denouncing pleasure...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">2:14 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1 bg-body">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Jessica Jhons</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">1:30 PM</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Anaxa Marvel</b>
												</p>
											</div>

											<div class="">
												<p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">Oct 22</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1 bg-body">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Diana Dating Services</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">Oct 18</p>
											</div>
										</div>
									</a>
									<a href="emailread.html">
										<div class="d-md-flex align-items-center email-message px-3 py-1 bg-body">
											<div class="d-flex align-items-center email-actions">
												<input type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
												<p class="mb-0"><b>Himalaya India</b>
												</p>
											</div>
											<div class="">
												<p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil...</p>
											</div>
											<div class="ml-auto">
												<p class="mb-0 email-time">Oct 10</p>
											</div>
										</div>
									</a>



						<!--start compose mail-->
						<div class="compose-mail-popup">
							<div class="card">
								<div class="card-header bg-dark text-white py-2 cursor-pointer">
									<div class="d-flex align-items-center">
										<div class="compose-mail-title">New Message</div>
										<div class="compose-mail-close ml-auto">x</div>
									</div>
								</div>
								<div class="card-body">
									<div class="email-form">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="To" />
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Subject" />
										</div>
										<div class="form-group">
											<textarea class="form-control" placeholder="Message" rows="10" cols="10"></textarea>
										</div>
										<div class="form-group mb-0">
											<div class="d-flex align-items-center">
												<div class="">
													<div class="btn-group">
														<button type="button" class="btn btn-primary">Action</button>
														<button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
														</button>
														<div class="dropdown-menu">	<a class="dropdown-item" href="javascript:;">Action</a>
															<a class="dropdown-item" href="javascript:;">Another action</a>
															<a class="dropdown-item" href="javascript:;">Something else here</a>
															<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
														</div>
													</div>
												</div>
												<div class="ml-2">
													<button type="button" class="btn border-0 btn-sm btn-white"><i class="lni lni-text-format"></i>
													</button>
													<button type="button" class="btn border-0 btn-sm btn-white"><i class='bx bx-link-alt'></i>
													</button>
													<button type="button" class="btn border-0 btn-sm btn-white"><i class="lni lni-emoji-tounge"></i>
													</button>
													<button type="button" class="btn border-0 btn-sm btn-white"><i class="lni lni-google-drive"></i>
													</button>
												</div>
												<div class="ml-auto">
													<button type="button" class="btn border-0 btn-sm btn-white"><i class="lni lni-trash"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end compose mail-->
						<!--start email overlay-->

					<!--end email wrapper-->




			<!--end page-content-wrapper-->

