
<!-- <form class="form-horizontal" [formGroup]="DeadlineForm" 
            novalidate> -->
<hr>

<div>
    <h3 class="text-center text-info">Event And Deadline</h3>
</div>
<hr>

<div class="row text-center align-content-center">

    <div class="form-group col-md-12 m-auto">
        <h5>Event Name</h5>
        <input type="text" class="form-control" placeholder="" formControlName="EventName" required="">
    </div>
</div>
<br>
<div class="row text-center align-content-center">
    

    <div class="form-group col-md-6 m-auto ">
        <div class="form-group">
            <h6 class="col-sm-12 control-label ">Deadline for Event</h6>
            
        </div>
    </div>
    <div class="form-group col-md-6 m-auto ">
        <div class="form-group">
            <h6 class="col-sm-12 control-label">Deadline for Comment</h6>
           
        </div>
    </div>
   

</div>
<div class="row text-center align-content-center">
   

    <div class="form-group col-md-6 m-auto ">
        <div class="form-group">
            
            <div class="col-sm-12">
                <input type="date" class="form-control" placeholder="" formControlName="DLEvent" required="">
            </div>
        </div>
    </div>
    <div class="form-group col-md-6 m-auto ">
        <div class="form-group">
            
            <div class="col-sm-12">
                <input type="date" class="form-control" placeholder="" formControlName="DLComment" required="">
            </div>
        </div>
    </div>
    

</div>
<div class="row text-center align-content-center">
    <div class="form-group col-md-12 m-auto">
        <div class="form-group">
            <h5 class="col-sm-12 control-label">Description</h5>
            <div>
                <textarea  class="col-sm-12" rows="3" placeholder="Enter Description...." formControlName="Description" required=""></textarea>
            </div>
        </div>
    </div>


</div>


<div class="col-sm-12 form-group text-center align-content-center">
    <br>
    <button class="btn btn-lg btn-info" type="submit" [disabled]="!DeadlineForm.valid">Create Now
    </button>
</div>
<!-- </form> -->