<div *ngFor="let idea of ideas" class="col-md-12  card radius-15 align-content-center border mb-0  mt-2">
    <div class="mt-2">
        <div class="media col-7 pt-3">
            <div class="chat-user-online">
                <img [src]="idea.avatarUser" width="42" height="42" class="rounded-circle" alt="" />
            </div>
            <div class="media-body ml-2">

                <h5 class="mb-0 chat-title col-8">{{idea.userName}}</h5>
            </div>
            <div class="media-body ml-2">

                <!--<h5 class="mb-0 chat-title col-8">Staff Name</h5>-->
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row text-center m-auto">
            <div class="col-3">
                <h6>Title: {{idea.title}}</h6>
            </div>
            <div class="col-3">
                <h6>Category: {{idea.category.name}}</h6>
            </div>
            <div class="col-3">
                <h6>Event: {{idea.eventName}}</h6>
            </div>
            <div class="col-3">
                <h6>Created at: {{idea.createdAt | date}}</h6>

            </div>
        </div>

        <div class="row card-body Regular shadow col-11 m-auto align-content-center  radius-15" type="button" data-toggle="modal" data-target="#detailIdea">
            <div>
                <h5 class="text-center">{{idea.content}}</h5>
            </div>

        </div>
        <br>
        <div class="row ">
            <div class="col-10 d-flex">
                <div class="col-1">
                    <i class="fadeIn animated bx bx-like"></i> 14
                </div>
                <div class="col-1">
                    <i class="fadeIn animated bx bx-dislike"></i> 2
                </div>
                <div class="col-1">
                    <i class="lni lni-eye"></i> 23
                </div>
            </div>
            <div class="col-2 justify-content-end">
                <i class="fadeIn animated bx bx-comment"></i> {{totalComments}}
            </div>

        </div>

        <hr color="black" size="10px" />
        <div class="row mb-auto">
            <div class="col-10 d-flex">
                <div class="col-2" type="button">
                    <i class="fadeIn animated bx bx-like"></i> Like
                </div>
                <div class="col-2" type="button">
                    <i class="fadeIn animated bx bx-dislike"></i> Dislike
                </div>
            </div>
            <div class="col-2 justify-content-end" type="button">
                <i class="fadeIn animated bx bx-comment"></i> Comment
            </div>
        </div>
        <hr color="black" size="10px" />

        <list-comment [comments]="idea.comments"></list-comment>

        <input-comment [postId]="idea.id"></input-comment>



        <a href="#" class="link-info" data-toggle="modal" data-target="#detailIdea">See more comment...</a>

    </div>
</div>

<div class="modal fade" id="detailIdea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">

                <each-idea></each-idea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="pagination justify-content-end pt-2">
    <nav aria-label="Page navigation example ">
        <ul class="pagination round-pagination ">
            <li class="page-item">
                <button class="page-link" [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
            </li>
            <li *ngFor="let i of pageArray" [ngClass]="{ 'active': i === currentPage }" class="page-item" id="paginator" (click)="changePage(i)"><a class="page-link">{{i}}</a>

                <li class="page-item">
                    <button class="page-link" [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
                </li>
        </ul>
    </nav>
</div>