<div class="media  pt-3 m-auto">
    <div class="chat-user-online">
        <img src="https://via.placeholder.com/110x110" width="42" height="42" class="rounded-circle" alt="" />
    </div>
    <div class="media-body ml-2">
        <div class="row">
            <h5 class="mb-0 chat-title col-8">Anna</h5>
            <p class="col-4 text-right">12/03/2023 08:20</p>
        </div>
        <div class="row d-flex">
            <p class=" mb-0 pt-0 form-label col-11">Ohh, wow </p>
            <div class="dropdown text-right col-1">
                <div class="cursor-pointer font-24 dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown"><i
                        class='bx bx-dots-horizontal-rounded'></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right"> 
                    <a class="dropdown-item"
                        href="javascript:;">Edit Comment</a>
                    <a class="dropdown-item" href="javascript:;">Delete</a>
                    
                    <!-- <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Sign Out</a> -->
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-1" >
                <p type="button" class=" btn btn-sm text-info font-13"><i class="fadeIn animated bx bx-like"></i> 11</p>
            </div>
            <div class="col-1" >
                <p type="button" class="btn btn-sm text-info font-13"><i class="fadeIn animated bx bxs-like"></i> 12</p>
            </div>
        </div>
        <!-- <div class="row mb-auto m-auto">
            <div class="col-1">
                <p type="button" type="button" class=" btn text-info font-13 "><i 
                         class="fadeIn animated bx bx-like"></i> 12</p>
            </div>
            <div class="col-1">
                <p type="button" type="button" class=" btn text-info font-13 "><i 
                         class="fadeIn animated bx bxs-like"></i> 12
                </p>
            </div>
        </div> -->

    </div>

</div>

<div class="media col-7 pt-3 m-auto" *ngFor="let comment of comments | slice:0:2">
    <div class="chat-user-online">
        <img src="https://via.placeholder.com/110x110" width="42" height="42" class="rounded-circle" alt="" />
    </div>
    <div class="media-body ml-2">
        <div class="row">
            <h5 class="mb-0 chat-title col-8">{{comment.user.fullName}}</h5>
            <p class="col-4 text-right">12/03/2023 08:20</p>
        </div>
        <div class="row">
            <p class="pt-0 form-control">{{comment.content}}</p>
            <div class="dropdown justify-content-end m-auto">
                <div class="cursor-pointer font-24 dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown"><i
                        class='bx bx-dots-horizontal-rounded'></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right"> <a class="dropdown-item"
                        href="javascript:;">Settings</a>
                    <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Help &
                        Feedback</a>
                    <a class="dropdown-item" href="javascript:;">Enable Split View Mode</a>
                    <a class="dropdown-item" href="javascript:;">Keyboard Shortcuts</a>
                    <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Sign Out</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-2" type="button">
                <button class="btn btn-outline-secondary"><i class="fadeIn animated bx bx-like"></i> 12</button>
            </div>
            <div class="col-2" type="button">
                <button class="btn btn-outline-secondary"><i class="fadeIn animated bx bxs-like"></i> 12</button>
            </div>
        </div>

    </div>

</div>

<!-- <div *ngFor="let comment of comments" class="row m-auto pt-2 ">
    <div class="media">
        <img src="mr-3" width="100" height="100" alt="...">
        <div class="media-body col-7">

            <span>
                <h6 class="mt-0">Staff Name</h6>
            </span>
        <span>
                <form class="form-control">
                    <p>Verry good!!!</p>
                </form>
                <div class="row">
                    <div class="col-2" type="button">
                        <i class="fadeIn animated bx bx-like"></i> 12
                    </div>
                    <div class="col-2" type="button">
                        <i class="fadeIn animated bx bx-dislike"></i> 2
                    </div>
                </div>

            </span>
    </div>
</div>
<hr>

</div> -->