<!-- wrapper -->
<div class="wrapper">
    <!--sidebar-wrapper-->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="">
                <img src="assets/images/logo-icon.png" class="logo-icon-2" alt="" />
            </div>
            <div>
                <h4 class="logo-text">Greenwich</h4>
            </div>
            <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
            </a>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a [routerLink]="['/admin/dashboard']" href="#">
                    <div class="parent-icon icon-color-2"><i class="bx bx-home-alt"></i>
                    </div>
                    <div class="menu-title"> Dashboard</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon icon-color-1"><i class="bx bx-folder"></i>
                    </div>
                    <div class="menu-title">Event</div>
                </a>
                <ul>
                    <li> <a [routerLink]="['/admin/eventlist']" href="#"><i class="bx bx-menu"></i>Event List</a>
                    </li>
                    <li> <a [routerLink]="['/admin/eventanddeadline']" href="#"><i class="bx bx-comment-edit"></i>Event And Deadline</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="menu-label">Web Apps</li> -->

            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon icon-color-1"><i class="bx bx-group"></i>
                    </div>
                    <div class="menu-title">Account Manager</div>
                </a>
                <ul>
                    <li>
                        <a [routerLink]="['/admin/accountmanager']" [queryParams]="{page: '1', limit: '5'}"><i class="bx bx-menu"></i>All Account</a>
                    </li>
                    <li> <a [routerLink]="['/admin/createaccount']" href="#"><i class="bx bx-comment-edit"></i>Create New Account</a>
                    </li>
                    
                </ul>
            </li>
           

        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar-wrapper-->
    <!--header-->

   <app-header></app-header>
    <!--end header-->
    <!--page-wrapper-->
    <div class="page-wrapper">
        <!--page-content-wrapper-->
        <div class="page-content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!--end page-content-wrapper-->
    </div>
    <!--end page-wrapper-->
    <!--start overlay-->
    <div class="overlay toggle-btn-mobile"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--><a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <!--footer -->
    <app-footer></app-footer>
    <!-- end footer -->
</div>
<!-- end wrapper -->
<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
        <hr />
        <h6 class="mb-0">Theme Styles</h6>
        <hr />
        <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-radio">
                <input type="radio" id="darkmode" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="darkmode">Dark Mode</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="lightmode" name="customRadio" checked class="custom-control-input">
                <label class="custom-control-label" for="lightmode">Light Mode</label>
            </div>
        </div>
        <hr />
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="DarkSidebar">
            <label class="custom-control-label" for="DarkSidebar">Dark Sidebar</label>
        </div>
        <hr />
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="ColorLessIcons">
            <label class="custom-control-label" for="ColorLessIcons">Color Less Icons</label>
        </div>
    </div>
</div>

<script>
    import PerfectScrollbar from 'perfect-scrollbar';
    const socialListScrollbar = new PerfectScrollbar('.dashboard-social-list');
    const topCountriesScrollbar = new PerfectScrollbar('.dashboard-top-countries');
</script>