<div class="row m-auto ">

    <a href="javascript:;">
        <div class="media ">
            <div class="chat-user-online">
                <img src="https://via.placeholder.com/110x110" width="42" height="42" class="rounded-circle" alt="" />
            </div>
            <div class="media-body ml-2 col-7">
                <!-- <h6 class="mb-0 chat-title">Louis Litt</h6> -->
                <div class="input-group">
                    <textarea [(ngModel)]="comment" class="form-control" rows="1" cols="3" placeholder="Write comment..."></textarea>
                    <p-fileUpload class="input-group-append" name="demo[]" [showUploadButton]="false" (onRemove)="onRemove($event)" [chooseIcon]="'pi pi-link'" (onClear)="onClear($event)" url="https://www.primefaces.org/cdn/api/upload.php" (onSelect)="onSelect($event)" [maxFileSize]="5000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">

                            </ul>
                        </ng-template>
                    </p-fileUpload>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                class="bx bx-send"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </a>

</div>